/* LAYOUTS */
main {}

a {
    text-decoration: none;
}

header .active {
    color: rgb(121, 121, 121);
}

main {
    height: calc(100vh - 150px);
    overflow-y: auto;
}

/* HOMEPAGE */
.homepage {
    height: calc(100vh - 150px);
    background-image: url("https://media.cnn.com/api/v1/images/stellar/prod/170606110126-tokyo-skyline.jpg?q=w_3000,h_1921,x_0,y_0,c_fill");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    width: 100%;
}

.login-box {
    margin-top: 10rem;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    padding: 2rem;
}

/* TRIPS PAGE */
.trips-page {
    height: calc(100vh - 150px);
    overflow-y: auto;
    background-image: url("https://media.idownloadblog.com/wp-content/uploads/2018/07/iPhone-cartoon-landscape-wallpaper-ongliong11-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.titolo {
    margin-bottom: 5rem;
}

.search-box {
    margin-top: 2rem;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0, 1);
    width: 80%;
    max-width: 600px;
    margin: auto;
    margin-top: 3rem;
}

.add-trip {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0, 1);
}

.search-title {
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    margin-bottom: 15px;
    text-align: center;
    padding: 10px 0;
}

.search-btn {
    border: 1px solid rgb(0, 104, 0);
}

.trips-area {
    padding: 5rem 8rem;
}

.trips-area .card {
    background-color: rgb(199, 214, 214);
    height: 20rem;
    position: relative;
    background-size: cover;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 70%);
    overflow: hidden;
}

.trips-area .card-body {
    color: white;
    z-index: 1;
}

.trips-area .card-title {
    color: white;
    z-index: 1;
}

/* TRIPS PAGE BTN X FORM E OVERLAY*/
.c-modal-btn {
    position: absolute;
    right: 8%;
    bottom: 150px;
}

/* SINGLE TRIP PAGE */
.single-trip-page {
    height: calc(100vh - 150px);
    background-image: url("https://media.idownloadblog.com/wp-content/uploads/2018/07/iPhone-cartoon-landscape-wallpaper-ongliong11-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
}

.trip-box {
    padding: 4rem 0;
}

.partecipante {
    color: black;
}

.partecipante:hover {
    cursor: pointer;
}

/* PARTECIPANT */
.info {
    border: 1.5px solid black;
    border-radius: 5px;
}

.search-form {
    width: 80%;
}

.border-radius {
    border-radius: 50px;
}

/* FOOTER */
footer {
    height: 67px;
}

footer div:first-child {
    width: 80%;
}

footer .list {
    width: 40%;
}

/* #################### */
/* #### MEDIA QUERY #### */
/* #################### */

/* Desktop First */
@media screen and (max-width: 1500px) {
     
    /* TRIPS PAGE */
    .c-modal-btn {
        position: absolute;
        right: 2.5%;
        bottom: 150px;
    }
}

@media screen and (max-width: 1494px) {
     
    /* TRIPS PAGE */
    .c-modal-btn {
        position: absolute;
        right: 2.5%;
        bottom: 150px;
    }
}

@media screen and (max-width: 1490px) {
     
    /* TRIPS PAGE */
    .c-modal-btn {
        position: absolute;
        right: 2.5%;
        bottom: 150px;
    }
}

@media screen and (max-width: 1440px) {
     
    /* TRIPS PAGE */
    .c-modal-btn {
        position: absolute;
        right: 2.5%;
        bottom: 150px;
    }
}

@media screen and (max-width: 1024px) {

    /* TRIPS PAGE */
    .c-modal-btn {
        position: absolute;
        right: 20px;
        bottom: 150px;
    }
}

@media screen and (max-width: 768px) {

    /* TRIPS PAGE */
    .trips-page .container {
        padding: 0;
        width: 100%;
    }

    .top-area {

    }

    .c-modal-btn {
        position: absolute;
        right: 20px;
        bottom: 75%;
    }

    .top-area {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
     
}