/* LAYOUTS */
main {
    background-color: rgba(44, 249, 92, 0.708);

}

a {
    text-decoration: none;
}

header .active {
    color: rgb(121, 121, 121);
}

main {
    height: calc(100vh - 90px);
    overflow-y: auto;
}


/* HOMEPAGE */
.login-box {
    margin-top: 10rem;
    color: white;
    background-color: rgb(94, 77, 114);
    border-radius: 20px;
    padding: 2rem;
}

.titolo {
    margin-bottom: 5rem;
}

/* TRIPS PAGE */
.search-box {
    margin-top: 2rem;
    border-radius: 20px;
    background-color: rgba(27, 143, 54, 0.708);
}

.search-title {
    color: white;
}

.search-btn {
    border: 1px solid rgb(0, 104, 0);
}

.trips-area {
    padding: 5rem 8rem;
}

.trips-area .card {
    background-color: rgb(199, 214, 214);
    height: 20rem;
}

/* TRIPS PAGE BTN X FORM E OVERLAY*/
.c-modal-btn {
    position: absolute;
    right: 10%;
    bottom: 100px;
}



/* SINGLE TRIP PAGE */
.trip-box {
    padding: 3rem 0;
}

.partecipante {
    color: black;
}

.partecipante:hover {
    cursor: pointer;
}

/* PARTECIPANT */
.info {
    border: 1.5px solid black;
    border-radius: 5px;
}

.search-form {
    width: 80%;
}

.border-radius {
    border-radius: 50px;
}